<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
        <link rel="stylesheet" href="../css/utility-css/fullcalendar/fullcalendar.css">
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="">
                                    <!-- form start -->
                                    <form  role="form" method="post" >
                                        <div class="box-body">
                                            <!-- Small boxes (Stat box) -->
                                            <div class="row">
                                               <div class="col-lg-3 col-xs-6">
                                                    <!-- small box -->
                                                    <div class="small-box bg-yellow">
                                                        <div class="inner">
                                                            <h3>
                                                                <%=customerCount%>
                                                            </h3>
                                                            <p>
                                                                Müşteri Sayısı
                                                            </p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="ion ion-person-stalker"></i>
                                                        </div>
                                                        <a href="/musteri_listesi" class="small-box-footer">
                                                            Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-6">
                                                    <!-- small box -->
                                                    <div class="small-box bg-aqua">
                                                        <div class="inner">
                                                            <h3>
                                                                <%=openOfferCount%>
                                                            </h3>
                                                            <p>
                                                                Onay Bekleyen Teklifler
                                                            </p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="ion ion-ios7-reloading"></i>
                                                        </div>
                                                        <a href="/acik_teklifler" class="small-box-footer">
                                                            Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div><!-- ./col -->
                                                <div class="col-lg-3 col-xs-6">
                                                    <!-- small box -->
                                                    <div class="small-box bg-green">
                                                        <div class="inner">
                                                            <h3>
                                                                <%=winningOffer%>
                                                            </h3>
                                                            <p>
                                                                Onaylanan Teklifler
                                                            </p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="ion ion-checkmark-round"></i>
                                                        </div>
                                                        <a href="/kazanilmis" class="small-box-footer">
                                                            Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div><!-- ./col -->
                                                
                                                <div class="col-lg-3 col-xs-6">
                                                    <!-- small box -->
                                                    <div class="small-box bg-red">
                                                        <div class="inner">
                                                            <h3>
                                                               <%=losingOffer%>
                                                            </h3>
                                                            <p>
                                                                Kaybedilen Teklifler
                                                            </p>
                                                        </div>
                                                        <div class="icon">
                                                            <i class="ion ion-android-close"></i>
                                                        </div>
                                                        <a href="/kaybedilmis" class="small-box-footer">
                                                            Daha Fazla Bilgi <i class="fa fa-arrow-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div><!-- ./col -->
                                            </div><!-- /.row -->

                                        </div><!-- /.box-body -->
                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <table class="table">
                                            <tr style="border-bottom: 2px solid #00c0ef">
                                                <td><b style="color: #00c0ef"> <i class="fa fa-calendar" style="margin-right:10px;"></i> AJANDA </b></td>
                                            </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box box-primary">                                
                                                    <div class="box-body no-padding">
                                                        <!-- THE CALENDAR -->
                                                        <div id="calendar"></div>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /. box -->
                                            </div>
                                        </div><!-- /.row -->
                                    </div>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside>
        </div><!-- ./wrapper -->
        <!---Modal window--->
        
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header modal-header-warning">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4> Aktivite İşlem</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Sayın<strong> Sinan BORA ;</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p> Aktiviteyi tamamladiniz mi?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select name="" id="" class="form-control">
                                    <option value="" disabled selected>Seçiniz</option>
                                    <option value="">Tamamladım </option>
                                    <option value="">Tamamlamadım</option>
                                    <option value="">Üzerinde çalışıyorum</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                 <textarea class="form-control" id="" rows="3" placeholder="Açıklama Giriniz" style="resize:vertical;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-flat " > Kaydet</button>
                        <button type="button" class="btn btn-default btn-flat " data-dismiss="modal">Kapat</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        
       <%include ../partial-pages/script.ejs%>       
       <script src="../js/utility-js/jquery-ui-1.10.3.min.js"></script>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/utility-js/plugins/fullcalendar/fullcalendar.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
       <script src="../js/pages-js/index.js"></script>
    </body>
</html>