<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/customer_master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%include ../partial-pages/customer_master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <section class="content">
                </section><!-- /.content -->
            </aside>
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>       
       <script src="../js/utility-js/jquery-ui-1.10.3.min.js"></script>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
        <script src="../js/pages-js/CustomerIndexPage.js"></script>
    </body>
</html>