<!DOCTYPE html>
<html>
    <head>
        <%include ../partial-pages/css.ejs%>
        <link rel="stylesheet" href="../css/utility-css/fullcalendar/fullcalendar.css">
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/customer_master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <%include ../partial-pages/customer_master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <section class="content">
                
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-header">
                                        <table class="table">
                                            <tr style="border-bottom: 2px solid #00c0ef">
                                                <td><b style="color: #00c0ef"> <i class="fa fa-calendar" style="margin-right:10px;"></i> AJANDA </b></td>
                                            </tr>
                                        </table>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box box-primary">                                
                                                    <div class="box-body no-padding">
                                                        <!-- THE CALENDAR -->
                                                        <div id="calendar"></div>
                                                    </div><!-- /.box-body -->
                                                </div><!-- /. box -->
                                            </div>
                                        </div><!-- /.row -->
                                    </div>
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside>
        </div><!-- ./wrapper -->
       <%include ../partial-pages/script.ejs%>       
       <script src="../js/utility-js/jquery-ui-1.10.3.min.js"></script>
       <script src="../js/utility-js/jquery.blockUI.js"></script>
       <script src="../js/utility-js/plugins/fullcalendar/fullcalendar.js"></script>
       <script src="../js/helper-js/Helper.js"></script>
        <script src="../js/pages-js/CustomerIndexPage.js"></script>
    </body>
</html>