<!DOCTYPE html>
<html>
    <head>
        <link href="../css/utility-css/bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="../css/utility-css/font-awesome.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="../css/utility-css/AdminLTE.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="skin-blue">
       <%include ../partial-pages/master_head.ejs%>
        <div class="wrapper row-offcanvas row-offcanvas-left">
           <%include ../partial-pages/master_left.ejs%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1 style="font-size:22px;">
                       Uyarı !
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="box box-info">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-center page-header">Bu sayfaya erişim izniniz yok</p>
                                            </div>
                                        </div>
                                    </div><!-- /.box-body -->
                                </div><!-- /.box -->
                            </div>
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
       
        <script src="../js/utility-js/jquery-2.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="../js/utility-js/bootstrap.min.js" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="../js/utility-js/AdminLTE/app.js" type="text/javascript"></script>
        <!-- jqoueryForm.js -->
        <script src="../js/utility-js/jquery.form.js" type="text/javascript"></script>
        
        <script>
            function organizeLeftMenu(){
                var currentPage = $('#currentPage').text();
                var pageLink = $('a[href="' + currentPage + '"]');
                var page = pageLink.parent();
                while(!page.parent().is('section')){
                    page.addClass('active');
                    //console.log('class : ' + page.attr('class'));
                    page = page.parent();
                }
            }
        </script>
        
    </body>
</html>
